.login-form {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    color: #216cb3be;
    border-radius: 20px;
    box-shadow: 0px 0px 20px #0fb9b19c;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
    
}

form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    display: flex;
    gap: 5px;
    background-color: #102e5077;
}

.h1 {
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0px 0px 2px #22c7c780;
    text-decoration-color: aqua;
    margin-bottom: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-color: aliceblue;
    padding-left: 10px;
    text-align: center;
    text-decoration: wavy;
    text-decoration-thickness: 2px;
    background-clip: text;
    background: linear-gradient(to right, #26e4e4 0%, #10d6b5 100%);
    background: #E1F5FE;
    background: radial-gradient(circle, #E1F5FE 0%, #39a3c7 100%);
}

input {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 1rem;
    color: white;
}

label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;

}

.login-form .form-row {
    display: flex;
    align-items: center;
}

.login-form .btn {
    width: 100%;
}