.login-form {
    border: 1px solid black;
    width: 400px;
    height: 500px;
    color: rgb(79, 114, 179);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-inline: auto;
}

form {
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(70%);
    flex-direction: column;
    display: flex;
    gap: 5px;
}

.h1 {
    font-size: 20px;
    font-weight: normal;
    text-shadow: 0px 0px 2px rgba(199, 34, 34, 0.5);
    text-decoration-color: aqua;
    margin-bottom: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-color: aliceblue;
    padding-left: 10px;
    text-align: center;
    text-decoration: wavy;
    text-decoration-thickness: 2px;
    text-emphasis: sesame rgb(79, 114, 179);
    background-clip: text;
    background: linear-gradient(to right, #d2d0d4 0%, #330867 100%);
    background: rgb(207, 203, 205);
    background: radial-gradient(circle, rgb(220, 222, 231) 0%, rgba(11, 38, 47, 1) 100%);

}

input {
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 1rem;
    color: white;
}

label {
    color: rgba(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;

}

.login-form .form-row {
    display: flex;
    align-items: center;
}

.login-form .btn {
    width: 100%;
}