.sidebar {
  position: fixed;
  top: 74px;
  left: 0px;
  bottom: 0;
  width: 200px; /* Adjust width as needed */
  background-color: #f8f9fa; /* Sidebar background color */
  padding: 20px;
  overflow-y: auto; /* Enable scrolling if content exceeds height */
  border-right: 1px solid #5e8ebd; /* Sidebar border */
  transition: width 0.3s ease; /* Smooth transition for width change */
}

.collapsed {
  margin-left: -200px;
  left: 0;
  transition: margin-left .15s linear;
}

.toggle-btn {
  position: static;
  top: 10px;
  right: -20px; /* Adjust button position */
  cursor: pointer;
  z-index: 1; /* Ensure button stays above content */
}
.sidebar.show {
  padding: unset;
  width: 0px;
}

.toggle-btn span {
  display: block;
  width: 20px; /* Button width */
  height: 2px; /* Button height */
  background-color: #333; /* Button color */
  margin-bottom: 4px; /* Space between button spans */
}

.button.navbar-toggler{
  background: #fff !important;
}
.button.navbar-toggler.collapsed{
  background: white !important;
}

.navBar {
  color: #495057; /* Link text color */
}
.nav-link {
  left: 50px;
  color: #495057; /* Link text color */
  position: relative;
}

.nav-link:hover {
  color: #007bff; /* Hover link text color */
}

.nav-link.active {
  font-weight: bold; /* Active link font weight */
  color: #007bff; /* Active link text color */
}


  .menu{
    position: fixed;
    background: rgb(227, 236, 241);
    text-decoration-color: rgb(55, 66, 219);
    width: 200px;
    max-width: 200px;
    padding-left: 2;
    height: 100%;
}
/* .menu li {
    margin-top: 2em;
    display: block;
    height: 100%;
    margin-bottom: 15px;
}
.menu li a{
    display: block;
    width: 100%;
} */
.w-sidebar {
    width: 200px;
    max-width: 200px;
}
.row.collapse {
    margin-left: -200px;
    left: 0;
    transition: margin-left .15s linear;
}

.row.collapse.show {
    margin-left: 0 !important;
}

.row.collapsing {
    margin-left: -200px;
    left: -0.05%;
    transition: all .15s linear;
}

/* optional */
.vh-100 {
    min-height: 100vh;
}
@media (max-width:768px) {

    .row.collapse,
    .row.collapsing {
        margin-left: 0 !important;
        left: 0 !important;
        overflow: visible;
    }
    
    .row > .sidebar.collapse {
        display: flex !important;
        margin-left: -100% !important;
        transition: all .3s linear;
        position: fixed;
        z-index: 1050;
        max-width: 0;
        min-width: 0;
        flex-basis: auto;
    }
    
    .row > .sidebar.collapse.show {
        margin-left: 0 !important;
        width: 100%;
        max-width: 100%;
        min-width: initial;
    }
    
    .row > .sidebar.collapsing {
        display: flex !important;
        margin-left: -10% !important;
        transition: all .2s linear !important;
        position: fixed;
        z-index: 1050;
        min-width: initial;
    }
}